<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="/visualization">Modified D3JS</a></li>
  <li><a href="/newd3">New D3 Visual</a></li>
  <li><a href="/c3visualization">New C3 Visual</a></li>
</ul>

<div class="container">
<br />
<div class="well">
<p>Here is basic information about your account. Please use the navbar to view the required parts of assignment 2</p>
<p>Name: {{user.name}}</p>
<p>Instagram ID:{{user.ig_id}}</p>
</div>
</div>