<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home</a>
  </li>
</ul>

<div class="container">
<br/>
<div class="well">You must login to Instagram.</div>

<br/>

<a href="/auth/instagram" class="btn btn-large btn-primary">Login with Instagram</a>

</div>