<ul class="nav nav-tabs">
  <li>
    <a href="/account">Home</a>
  </li>
  <li><a href="/visualization">Modified D3JS</a></li>
  <li class="active"><a href="/newd3">New D3 Visual</a></li>
  <li><a href="/c3visualization">New C3 Visual</a></li>
</ul>

<div class="container">

<h1> Media Count of Your Instagram Followers using C3JS </h1>
<div id="chart"></div>

</div>
<script src="js/d3visualization.js"></script>
