<ul class="nav nav-tabs">
  <li>
    <a href="/account">Home</a>
  </li>
  <li class="active"><a href="/visualization">Modified D3JS</a></li>
  <li><a href="/newd3">New D3 Visual</a></li>
  <li><a href="/c3visualization">New C3 Visual</a></li>
</ul>

<div class="container">
<h1> Media Count of Your Instagram Followers </h1>

<a id="sort" class="btn btn-large btn-primary">Sort!</a>

<div id="chart"></div>

</div>

<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="js/visualization.js"></script>